table{
    width: 100%;
    padding: 30px;
}

.example-container {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-left: 300px;
  }
  .container{
    margin-left: 10px;
  }
  
  .example-container > * {
    width: 40%;
  }